.text {
	text-align: center;
}
.ttu {
	text-transform: uppercase;
}

.printer-ticket {
	display: table !important;
	width: 100%;
	font-weight: light;
	line-height: 1.3em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	margin-right: auto;
  	margin-left: auto;
}

th:nth-child(2),
td:nth-child(2) {
	width: 30px;
}

th:nth-child(3),
td:nth-child(3) {
	width: 90px;
	text-align: right;
}

th {
	font-weight: inherit;
  	padding: 10px 0;
	text-align: center;
	border-bottom: 1px dashed #bcbcbc;
}

.linha-baixo td {
	border-bottom: 1px dashed #bcbcbc!important;
}

.nreg > td {
  font-weight: inherit;
  padding: 10px 0;
	text-align: center;
}

tbody tr:last-child td{
	padding-bottom: 5px;
}

tfoot .sup td {
    padding-top: 10px;
    padding-bottom: 10px;
	border-top: 1px dashed #bcbcbc;
}

tfoot .sup.p--0 td {
	padding-bottom: 0;
}

.title {
	font-size: 1.5em;
    padding: 10px * 1.5 0;
	
}

.top td {
	padding-top: 5px;
	text-transform: uppercase;
		
}

.last td {
	padding-bottom: 5px;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 0.25rem;
	max-width: 100%;
	height: auto;
  }